

.background-image {
    background-image: url('../../public/BackgroundPic.jpg');
    /* Replace with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}